<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.github.berrouz.server"/>

    <bean id="serverContact" class="com.github.berrouz.common.Contact">
        <property name="firstName" value="Server"/>
        <property name="lastName" value="Server"/>
        <property name="ipAddress" value="127.0.0.1"/>
        <property name="port">
            <value type="java.lang.Integer">7000</value>
        </property>
    </bean>

    <bean id="transceiver" class="com.github.berrouz.common.Transceiver">
        <property name="receiverThread" ref="receiverThread"/>
        <property name="sender" ref="sender"/>
        <property name="threadExecutor" ref="threadExecutor"/>
    </bean>

    <bean id="receiverThread" class="com.github.berrouz.common.receiving.ReceiverThread">
        <property name="myContact" ref="serverContact"/>
        <property name="messageAnalyzer" ref="messageAnalyzer"/>
        <property name="socketReader" ref="socketReader"/>
        <property name="threadExecutor" ref="threadExecutor"/>
    </bean>

    <bean id="messageAnalyzer" class="com.github.berrouz.server.receiver.ServerMessageAnalyzer">
        <property name="spammer" ref="spammer"/>
        <property name="messageQueue" ref="depot"/>
    </bean>

    <bean id="socketReader" class="com.github.berrouz.common.receiving.SocketReader">
        <property name="messageQueue" ref="depot"/>
    </bean>

    <bean id="sender" class="com.github.berrouz.common.sending.Sender">
        <property name="messageQueue" ref="depot"/>
    </bean>


    <bean id="depot" class="com.github.berrouz.common.depot.MessageDepot"/>

    <bean id="threadExecutor" class="com.github.berrouz.common.ThreadExecutor"/>
</beans>
